*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #122370;
}
.clock-container{
    width: 80%;
    height: 200px;
    position: relative;
    left: 10%;
    display: flex;
}
#clock_pic_container{
    width: 200px;
    height: 100px;
    background-image: url(./Assets/clock_logo.png);
    background-size: 100% 100%;
    position: relative;
    top: 50px;
    left: 20px;
}
#box1{
    width: 400px;
    height: 100px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: #FFFFFF;
    opacity: 21%;
    position: absolute;
    right: 150px;
    top: 70px;
}
#box2{
    width: 500px;
    height: 100px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: #FFFFFF;
    opacity: 72%;
    position: absolute;
    right: 100px;
    top: 50px;
    z-index: 1;
}
.time-container{
    width: 600px;
    height: 100px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: #EDEDED;
    position: absolute;
    right: 55px;
    top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}
#hours-container{
    width: 70px;
    height: 80px;
    background-image: url(./Assets/timeline.svg);
}
#minutes-container{
    width: 70px;
    height: 80px;
    background-image: url(./Assets/timeline.svg);
}
#seconds-container{
    width: 70px;
    height: 80px;
    background-image: url(./Assets/timeline.svg);
}
#style-am-pm{
    width: 70px;
    height: 80px;
    background-image: url(./Assets/AM_svg.svg);
}
#hours,#minutes,#seconds{
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 25px;
    color: #8A11BF;
}
.para-style{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 15px;
    color: #5F0089;
}
#select-am-pm{
    text-align: center;
    position: relative;
    top: 27px;
    color: #FFFFFF;
}
.clock-option-container{
    width: 500px;
    height: 310px;
    opacity: 90%;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: relative;
    top: 10px;
    left: 10%;
}
#inner-option-clock-container1{
    width: 20%;
    height: 110px;
    background-image: url(./Assets/wake_up.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
#inner-option-clock-container2{
    width: 20%;
    height: 110px;
    background-image: url(./Assets/lunch_time.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
#inner-option-clock-container3{
    width: 20%;
    height: 90px;
    background-image: url(./Assets/nap_time.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
#inner-option-clock-container4{
    width: 3px;
    height: 40px;
    background-color: #122370;
    position: absolute;
    top: 95px;
    left: 50px;
}
#inner-option-clock-container5{
    width: 3px;
    height: 35px;
    background-color: #122370;
    position: absolute;
    top: 200px;
    left: 50px;
}
.option-selector-container1{
    position: absolute;
    top: 45px;
    left: 130px;
}
label{
    padding: 5px;
    font-size: 21px;
}
#Wake-up-time{
    width: 120px;
    position: relative;
    left: 20px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}
.option-selector-container2{
    position: absolute;
    top: 150px;
    left: 130px;
}
#lunch-time{
    width: 120px;
    position: relative;
    left: 45px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}
.option-selector-container3{
    position: absolute;
    top: 260px;
    left: 130px;
}
#nap-time{
    width: 120px;
    position: relative;
    left: 65px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}
#option-select-view-container{
    width: 500px;
    background-color: cadetblue;
    position: absolute;
    bottom: 40px;
    left: 10%;
}
#pic-text-container{
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 230px;
    background-color: #FFFFFF;
}
#text-container{
    height: 100px;
    width: 100%;
    text-align: center;
}
#pic-container{
    height: 300px;
    width: 100%;
    background-image: url(./Assets/balloon_image.svg);
    background-size: 100% 100%;
}
#button-container{
    width: 100%;
    height: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #122370;
}
#button-style{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    left: 170px;
    bottom: 160px;
    border: 1px solid #122370;
    background-image: linear-gradient(to right,#6E54EC,#CB52F8,#F1A7C5);
}
#text{
    position: relative;
    top: 15px;
    font-size: 30px;
    color: #8E53F0;
}
#button-style:hover{
    color: azure;
    transform: scale(0.75,0.75);
}
.style-p1{
    color: #FFFFFF;
    font-size: 20px;
    padding: 8px;
}